################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs
/src/ConsoleApp1
/src/release/Debug
/src/Si.CoreHub/obj
/src/release/Release
/src/Test1
/src/WebApplication1
/src/ModelA
